<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <title>Carpedia</title>
</head>
<body>
    <section class="main">
        <div class="background-img"></div>
        <div class="main-content">
            <div id="company">Carr<span style="color: rgb(238, 84, 84);">Pedia</span></div>
            <div id="scroll">Scroll for contents.</div>
        </div>
    </section>
    <hr style="width: 65%; background-color: rgb(223, 223, 86); position: absolute; left: 18%; border-top: 3px solid rgb(228, 211, 64);">
    <div class="container">
        <div class="intro">
            <h2 style="letter-spacing: 1px; text-align: center; padding: 40px 0; padding-bottom: 100px;">Welcome to CarrPedia. Love cars? Well then you landed in the just right website!</h2>
        </div>
    </div>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/bmw.png" alt="bmw logo_png">
                    <h3>Know about you favourite car brands, and the cars which they manufacture. Perfect for car fanactics!</h3>
                </div>
                <div class="col-md-6">
                    <img src="assets/suzuki.png" alt="suzuki logo_png">
                    <h3>Also, get to know a brief history about your favourite car brands, about how they became a 'brand'.</h3>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <img style="width: 250px; height: 150px;" src="assets/fiat.png" alt="fiat logo_png">
                    <h3>Browse through a vast collection of photo gallery for every specific cars. Good for some quality wallpapers!</h3>
                </div>
                <div class="col-md-6">
                    <img style="width: 160px; height: 150px;" src="assets/ferrari.png" alt="ferrari logo_png">
                    <h3>Once registered, you can upload your own photos into the gallery, and contribute to the CarPedia gallery.</h3>
                </div>
            </div>
        </div>
    </div>
    <h1 class="text-center" style="color: rgb(62, 62, 233);">All Brands</h1>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="thumbnail">
                    <img style="width: 130px; height: 130px;" src="assets/bmw.png" alt="">
                    <br>
                    <div class="caption">
                        <a href="#">BMW</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="assets/ferrari.png" alt="">
                    <br>
                    <div class="caption">
                        <a href="/ferrari">FERRARI</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="assets/ford.png" alt="">
                    <br>
                    <div class="caption">
                        <a href="#">FORD</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="assets/suzuki.png" alt="">
                    <br>
                    <div class="caption">
                        <a href="#">SUZUKI</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="assets/porsche.png" alt="">
                    <br>
                    <div class="caption">
                        <a href="#">PORSCHE</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="assets/lambo.png" alt="">
                    <br>
                    <div class="caption">
                        <a href="#">LAMBORGHINI</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="assets/hyundai.png" alt="">
                    <br>
                    <div class="caption">
                        <a href="#">HYUNDAI</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="assets/mclaren.png" alt="">
                    <br>
                    <div class="caption">
                        <a href="#">MCLAREN</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="assets/tata.png" alt="">
                    <br>
                    <div class="caption">
                        <a href="#">TATA</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="assets/royce.png" alt="">
                    <br>
                    <div class="caption">
                        <a href="#">ROLLS ROYCE</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="assets/landrover.png" alt="">
                    <br>
                    <div class="caption">
                        <a href="#">LAND ROVER</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="assets/mercedes.png" alt="">
                    <br>
                    <div class="caption">
                        <a href="#">MERCEDES BENZ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


