* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cabin', sans-serif;
}

.main {
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: #fff;
}
.main .background-img {
    background-image: url(https://i.pinimg.com/originals/57/a6/db/57a6db5a83286e8774e76279f8a3b254.jpg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-color: black;
}
.main-content {
    font-family: 'Kanit', sans-serif;
    opacity: 0;
    margin-top: 50px;
    animation-name: fadein;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.main-content #company {
    font-size: 62px;
    padding-bottom: 10px;
}
.main-content #scroll {
    font-size: 20px;
    animation-name: flick;
    animation-duration: 0.6s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes fadein {
    0%{
        animation-delay: 1.2s;
    }
    100%{
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes flick {
    25%{
        transform: scale(1);
    }
    50%{
        transform: scale(1);
    }
    60%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}

.col-md-6 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-md-6 img {
    width: 120px;
    height: 110px;
}
.col-md-6 h3 {
    color: rgb(136, 136, 136);
    letter-spacing: 0.2px;
    font-size: 20px;
}

#showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}
#showcase:hover {
    transform: scale(1.04);
    transition: all 0.2s linear;
    animation-direction: alternate;
}
#showcase img {
    width: 190px;
    height: 140px;   
}
.caption a{
    text-decoration: none;
    color: rgb(27, 27, 27);
    font-size: 20px;
}

#table {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gimg {
    height: 280px;
    width: auto;
}

#gimg-container {
    border: 2px solid rgba(141, 141, 141, 0.548);
}

#gimg-container:hover {
    box-shadow: 3px 4px 6px 2px rgba(0, 0, 255, .2);
    transform: scale(1.02);
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-property: all;
}

#submit {
    width: 200px;
    outline: none;
    background: none;
    border: 3px solid rgb(42, 206, 42);
    border-radius: 10px;
    color: rgb(92, 91, 91);
}
#submit:hover {
    transform: scale(1.03);
    transition: all 0.1s linear;
}

.scrollable {
    height: 200px;
    width: 400px;
    overflow-y: auto;
}

.form {
    display: flex;
    flex-direction: row;
}

#galleryexplore {
    background: none;
    border: 2px solid rgba(228, 231, 34, 0.863);
    color: rgba(228, 231, 34, 0.863);
}
#galleryjumbo {
    background-image:  url(https://wallpaper-house.com/data/out/21/wallpaper2you_9711.jpg);
    background-size: cover;
    background-position: center;
    animation-name: change;
    height: 300px;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes change {
    20%{
        background-image: url(https://images.hdqwalls.com/download/lamborghini-aventador-svj-2019-4k-pa-1920x1080.jpg);
    }
    40%{
        background-image: url(https://wallpaperaccess.com/full/1152674.jpg);
    }
    60%{
        background-image: url(https://wallpapertag.com/wallpaper/full/e/b/f/666078-free-laferrari-wallpapers-1920x1080-ipad-pro.jpg);
    }
    80%{
        background-image: url(https://s1.1zoom.me/b5050/219/Ferrari_2015_Ferrari_F12_471316_1920x1080.jpg);
    }
    100%{
        background-image: url(https://i.pinimg.com/originals/a2/62/33/a262334619af167daa6743066b9c903a.jpg);
    }
}

#ss {
    word-wrap: break-word;
}